body {
    /*background-color: greenyellow; !important;*/
}

span.tabulator {
    display: inline-block;
    width: 12px;
}

span.profile-tabulator {
    display: inline-block;
    width: 125px;
}

.temp-bg {
    background-color: rgba(165,40,52,0.2)
}

.temp-height {
    height: 500px;
}
