<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name</title>
</head>
<body>
<h3>Simply displaying the name</h3>
<p>My name is the one and only {{ user.username }}</p>

</body>
</html>