<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    {% if noLink %}
    <a class="navbar-brand">

    {% else %}
    <a class="navbar-brand" href="/home">

    {% endif %}
    <i class="fa-solid fa-chess-knight"></i>
    minimal-dev
    </a>
    <a href="/profile" class="nav-link text-reset">{{ username }}</a>
</nav>